
@{

    string vname = "User Profile";
    ViewBag.Title = vname;
    Layout = "~/Views/Shared/AdminLTE.cshtml";
}


<div class="d-block mt-5 mb-2 m-auto text-center w-75">
        @*<img class="img-fluid" src="~/Images/Main/043b7a72e6f3fd332bdf88e94f7ecff3.gif" />*@
        <br />
        <h4>Welcome : @HossamAndHoda2021.Controllers.CurrentUserLoginData.getcurrentusrdataAuth(4)</h4>
        <h4>@HossamAndHoda2021.Controllers.CurrentUserLoginData.getcurrentusrdataAuth(3)</h4>
</div>
